mixin profile-review-books(title, buttonText)
  section.pf-review-books
    h2.pf-review-books__section-title= title
    .pf-review-books__slider
      .pf-review-books__limiter
        ul.pf-review-books__list
          li.pf-review-books__item
            span.pf-review-books__status Эксперт
            a.pf-review-books__link(href='#')
              img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
            .pf-review-books__wrapper
              a.pf-review-books__title(href='#') Четвертый ледниковый период
              a.pf-review-books__author(href='#') Кобо Абе
              .pf-review-books__rating 3,9
              button.pf-review-books__add(type="button")= buttonText
          li.pf-review-books__item
            span.pf-review-books__status Эксперт
            a.pf-review-books__link(href='#')
              img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
            .pf-review-books__wrapper
              a.pf-review-books__title(href='#') Четвертый ледниковый период
              a.pf-review-books__author(href='#') Кобо Абе
              .pf-review-books__rating 3,9
              button.pf-review-books__add(type="button")= buttonText
          li.pf-review-books__item
            span.pf-review-books__status Эксперт
            a.pf-review-books__link(href='#')
              img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
            .pf-review-books__wrapper
              a.pf-review-books__title(href='#') Четвертый ледниковый период
              a.pf-review-books__author(href='#') Кобо Абе
              .pf-review-books__rating 3,9
              button.pf-review-books__add(type="button")= buttonText
          li.pf-review-books__item
            span.pf-review-books__status Эксперт
            a.pf-review-books__link(href='#')
              img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
            .pf-review-books__wrapper
              a.pf-review-books__title(href='#') Четвертый ледниковый период
              a.pf-review-books__author(href='#') Кобо Абе
              .pf-review-books__rating 3,9
              button.pf-review-books__add(type="button")= buttonText
          li.pf-review-books__item
            span.pf-review-books__status Эксперт
            a.pf-review-books__link(href='#')
              img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
            .pf-review-books__wrapper
              a.pf-review-books__title(href='#') Четвертый ледниковый период
              a.pf-review-books__author(href='#') Кобо Абе
              .pf-review-books__rating 3,9
              button.pf-review-books__add(type="button")= buttonText
          li.pf-review-books__item
            span.pf-review-books__status Эксперт
            a.pf-review-books__link(href='#')
              img(src='/images/book-cover-1.jpg', width='100%', height='auto', alt='Четвертый ледниковый период')
            .pf-review-books__wrapper
              a.pf-review-books__title(href='#') Четвертый ледниковый период
              a.pf-review-books__author(href='#') Кобо Абе
              .pf-review-books__rating 3,9
              button.pf-review-books__add(type="button")= buttonText
    